body{

	background-image:url('background.jpg');
	height: 100%;
}

html,body{
    height: 100%;
}


.maincontainer{
	margin-top: 10px;
	margin-bottom: 100px;
	width: 1152px;
	background-color:#f5f5f5;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
             border-radius: 10px;
	.maincontent {
		margin: 25px;
		h2.section {
			display: inline;
		}
	}
}

.table_info .button_to {
	display: inline-block;
}

.table_info {
	padding-bottom: 5px;
	a.new_path {
	  padding-left: 3px;
	}
	.alert {
    	margin-top: 10px;
    }
}

input.search-query {
	width: 70px;
}

.icon-user {
	margin-right:3px;
}

table.list{
	width: 370px !important;
	position: relative;
	right: 20px;
	top: -20px;

	th.name {

	}
	th.date {

	}

	tr {
		cursor: pointer;
		td.name{
			width: 180px;
			max-width: 180px;
			font-size: 12px;
			font-weight: bold;
			word-wrap:break-word;
			line-height: 15px;
		}

		td.date {
			width: 180px;
			font-size: 10px;
			line-height: 15px;
		}
		td.hover{
			background-color: #C5CAD9 !important;
		}

	}

}


.well.scrolling-nav{
	height: 500px;
	overflow: auto;
	overflow-x: hidden;
}

.nav.nav-tabs.content_tabs > li {
	margin-left: 60px;
}

.navbar-fixed-top {
	border-bottom: 2px solid #d4d4d4;

	a.brand {
		padding: 9px 15px 6px !important;
		img.navigation-logo {
			margin-top: -7px;
		}
	}

	.header {
		margin-left: 45px !important;
		li.active > a {
			background-image: -webkit-linear-gradient(top, #111111, #4b4b4b);
		}
	}

	ul li {
		line-height: 38px;		
	}

	a.user-button{
		padding: 8px 16px;
		border: 1px solid black;
	}
	a.user-button:active{
	}
	.pull-right.settings{
		margin-top: 10px;
		margin-right: -8px;

		ul.dropdown-menu {
			background-color: #2f96b4;
			li a {
				color: white;
				z-index:1050;
				&:hover {
					color: black;
				}
			}

		}
	}
	.pull-right.notification{
		a {
			margin-right: 15px;
			margin-top: 15px;
			border: 1px solid black;
		}
	}
}

ul.nav-tabs.pill-tabs-bar{
	padding-left:17px;
}

ul.nav-tabs.bottom {
	padding-top:20px;
}

.tab-content{
	overflow: visible;
	margin-left: 30px;
	margin-right: 30px;
}

table.courses,
table.seminars,
table.templates,
table.lessons,
table.labs,
table.system_hosts,
table.operating_systems {
    table-layout: fixed;
    width: 100%;
    text-align:left;
    thead{
    	color:#2f96b4;
    	th {
    		padding-left: 5px;
    	}
    	th.action{
	    	width: 87px;
	    }
    	th.checkbox {
	    	overflow: hidden;
	    	width:18px;
	    	padding-left: 6px;
			padding-top: 4px;
	    }
	    th.status {
	    	width: 88px;
	    }
	    th.lab {
	    	width:80px
	    }
	    th.template {
	    	width:120px;
	    }
	    th.path {
	    	width:600px;
	    }

    }
    tbody{

    	td {
    	margin-left:3px;
    	height: 30px;
    	padding-left: 5px;
	    }
	    td.checkbox {
	    	overflow: hidden;
	    	width:18px;
	    	padding-left: 6px;
			padding-top: 4px;
	    }
    }
}

table.system_hosts {
	th.name {
		width: 180px;
	}
	th.ip {
		width:180px;
	}
	th.domain{
		width:180px;
	}
	th.mac {
		width: 240px;
	}
}

table.lessons {
	th.number {
		width:80px;
	}
}

.table-action-button {
	a.btn-small.edit {
		z-index: 1010;
	}
	button.dropdown-toogle {
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 3px 3px 0;
		-ms-border-radius: 0 3px 3px 0;
		-o-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
		margin-left: -4px !important;
		z-index: 1005;
	}
	
}

.table-action-button {
	ul.dropdown-menu {
		z-index:1050;
		margin-left: -50px;
		.delete {
			color:red;
		}
		.delete:hover{
				
			color:red;
			font-weight:bold;
		}
	}
}


#course_info {
	.span6 {
		background-color: #f5f5f5;

		height: 300px;
		border-radius: 10px;
		margin-bottom: 20px;
		&:hover {
			background-color: white;
		}
		h5 {
			margin-left: 15px;
			&:first-child {
				margin-top: 15px;
			}
		}
		& > div {
			margin-top: 10px;
			padding-left: 10px;
		} 
		span {
			cursor:default; 
		}
	}
}



form.new_seminar,
form.edit_seminar,
form.edit_user {
	.span4 {
		background-color: #f5f5f5;
		border-radius: 10px;
		margin-bottom: 20px;
		& > div {
			padding-left: 10px;
			padding-top: 5px;
			.token-input-list-facebook {
				border-radius: 5px;
			}
		}
		&:hover {
			background-color: white;
		}
		&.users {
		 width:420px;
		 height:200px;
		}
	}
	.create-seminar-btn,
	.edit-seminar-btn {
		margin-right: 33px;
	}
	
}

.users_list {
	.span4 {
		background-color: #f5f5f5;
		border-radius: 10px;
		margin-bottom: 20px;
		margin-left: 45px;
		& > h5 {
			padding-left: 13px;
			padding-top: 5px;
		}
		& > div {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 5px;
		}
		&:hover {
			background-color: white;
		}

	}
	table{
		td{
			padding: 4px;
			&.email{
				width:225px;
			}
		}
	}
	.create-seminar-btn,
	.edit-seminar-btn {
		margin-right: 33px;
	}
	
}

div.alert.alert-error,
div.alert.alert-success {
	top: 50px;
}

div {
	&.ui-pnotify{
		top: 80px;
		z-index: 1000;
	}
}

@import 'font-awesome';