body{
  background-image:url('background.jpg');
}

#new_user {
  margin-top: 8px;
  margin-bottom: -10px;
  div {
    display: inline-block;
    margin-right: 10px;
    .remember {
      color: white;
    }
    #user_remember_me{
      margin-top:-7px;
    }
  }
}

.btn-log-in {
  margin-left:10px;
}

